extends /layouts/standardNavbar.pug
block variables
	- var title = 'Shopping List'
block append content

	/////////////////////////////////////////////////////////////////////////////

	.alert.alert-dismissible.fade.show.alert-danger(role='alert')
		button.close(type='button' data-dismiss='alert' aria-label='Close')
			span(aria-hidden='true') &times;
		| Solo l'ultimo showList funziona gli altri sono predisposti per un id
		
	/////////////////////////////////////////////////////////////////////////////
	span.badge.badge-primary Tave 
	span.badge.badge-success Bru
	span.badge.badge-danger Zini
	br
	br
	ul.list-group
		li.list-group-item.list-group-item-success Vino Rèmole
	br
	form(action="shopping/api/addItem", method="post") 
		.input-group.mb-3
			input.form-control(type='text' placeholder="Add any item" aria-label="Recipient's username" aria-describedby='basic-addon2')
			.input-group-append
				button.btn.btn-primary.btn-block(type='submit') Inserisci
	br
	br
	br
	h1.display-4 History 
	br
	.btn-group
		button.btn.dropdown-toggle.btn-primary(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
			| 31/12/2021
		.dropdown-menu(x-placement='bottom-start' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);')
			.dropdown-item Pasta
			.dropdown-item Pane
			.dropdown-item Pizza
			.dropdown-item Pesto
			.dropdown-item Cipolla
			.dropdown-item Maionese
			.dropdown-divider
			a.dropdown-item(href='showList/{ID}') Show List
	br
	br
	.btn-group
		button.btn.dropdown-toggle.btn-primary(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
			| 18/11/2021
		.dropdown-menu(x-placement='bottom-start' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);')
			.dropdown-item Vino
			.dropdown-item Ketchup
			.dropdown-item Kebab di pollo
			.dropdown-item Patate
			.dropdown-divider
			a.dropdown-item(href='showList/{ID}') Show List
	br
	br
	.btn-group
		button.btn.dropdown-toggle.btn-primary(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
			| 21/10/2021
		.dropdown-menu(x-placement='bottom-start' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);')
			.dropdown-item Vino
			.dropdown-item Ketchup
			.dropdown-item Kebab di pollo
			.dropdown-item Patate
			.dropdown-divider
			a.dropdown-item(href='/showList') Show List

block append scripts
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
