extends /layouts/standardNavbar.pug
block variables
	- var title = 'Show List'
block append content
	//- span.badge.badge-primary Tave 
	//- span.badge.badge-success Bru
	//- span.badge.badge-danger Zini
	//- br
	//- br
	ul.list-group
		each item in shopping_list.items
			li.list-group-item.list-group-item-primary #{item.name}
			a.btn.btn-sm.btn-primary.my-1.my-sm-0(href='#')
			span.fas.fa-edit.mr-1
			|           Edit
			a.btn.btn-sm.btn-danger.my-1.my-sm-0(href='#')
			span.fas.fa-trash.mr-1
			|           Delete
	ul.list-group
		li.list-group-item.list-group-item-secondary #{shopping_list.total}€