extends /layouts/standardNavbar.pug
block variables
	- var title = 'Profile'
block append content 
<<<<<<< HEAD
	div(class="row")
		div(class="col-4")
			img(src='/images/4.png' alt='Image' class='img-fluid')
			br
			br
			a.btn.btn-primary(href='#!') Change Avatar 
			br
			br
			| Host Rating Level:  
			br
			i.fa.fa-star(aria-hidden='true')
			i.fa.fa-star(aria-hidden='true')
			i.fa.fa-star(aria-hidden='true')
			i.fa.fa-star(aria-hidden='true')
			i.fa.fa-star-o(aria-hidden='true')
		div(class="col-8")
			|	ID
			input#example-text-input.form-control(type='text' value='132900' readonly)
			br
			|	Type
			input#example-text-input.form-control(type='text' value='tenant' readonly)
			br
			|	User
			input#example-text-input.form-control(type='text' value='Tave' readonly)
			br
			br
			a.btn.btn-primary.btn-block(href='#!') Change Password
			br
			br
			//TRASFORMARE IN TITOLO
			
			br
			br
			br
			a.btn.btn-primary.btn-block(href='#!') Logout
			br
			br
=======
	//IMMAGINE RIMANE STATICA 
	img(src='/images/4.png' alt='Image' style='width:500px;height:500px;')
	br
	br
	|	ID
	input#example-text-input.form-control(type='text' value='132900' readonly)
	br
	|	Type
	input#example-text-input.form-control(type='text' value='tenant' readonly)
	br
	|	User
	input#example-text-input.form-control(type='text' value='Tave' readonly)
	br
	br
	a.btn.btn-primary.btn-block(href='#!') Change Password
	br
	br
	//TRASFORMARE IN TITOLO
	| Host Rating Level:  
	i.fa.fa-star(aria-hidden='true')
	i.fa.fa-star(aria-hidden='true')
	i.fa.fa-star(aria-hidden='true')
	i.fa.fa-star(aria-hidden='true')
	i.fa.fa-star-o(aria-hidden='true')
	br
	br
	br
	a.btn.btn-primary.btn-block(href='#!') Logout
	br
	br
>>>>>>> 883e5656e6adce84cc9fc409c3d603f4fbacfc91
	
	

