doctype html
head
	meta(charset='UTF-8')
	title HQ Profile
	include ../includes/head.pug
	link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

img(src='/images/4.png' alt='Image' style='width:500px;height:500px;')
br
br
a.btn.btn-primary(href='#!') Change Avatar 
br
br
|	ID
input#example-text-input.form-control(type='text' value='132900' readonly)
br
|	Type
input#example-text-input.form-control(type='text' value='tenant' readonly)
br
|	User
input#example-text-input.form-control(type='text' value='Tave' readonly)
br
br
a.btn.btn-primary.btn-block(href='#!') Change Password
br
br
//TRASFORMARE IN TITOLO
| Host Rating Level:  
i.fa.fa-star(aria-hidden='true')
i.fa.fa-star(aria-hidden='true')
i.fa.fa-star(aria-hidden='true')
i.fa.fa-star(aria-hidden='true')
i.fa.fa-star-o(aria-hidden='true')
br
br
br
a.btn.btn-primary.btn-block(href='#!') Logout

