extends /layouts/standardNavbar.pug
block variables
	- var title = 'Profile'
block append content 
	//IMMAGINE RIMANE STATICA 
	img(src='/images/4.png' alt='Image' style='width:500px;height:500px;')
	br
	br
	|	ID
	input#example-text-input.form-control(type='text' value='132900' readonly)
	br
	|	Type
	input#example-text-input.form-control(type='text' value='tenant' readonly)
	br
	|	User
	input#example-text-input.form-control(type='text' value='Tave' readonly)
	br
	br
	a.btn.btn-primary.btn-block(href='#!') Change Password
	br
	br
	//TRASFORMARE IN TITOLO
	| Host Rating Level:  
	i.fa.fa-star(aria-hidden='true')
	i.fa.fa-star(aria-hidden='true')
	i.fa.fa-star(aria-hidden='true')
	i.fa.fa-star(aria-hidden='true')
	i.fa.fa-star-o(aria-hidden='true')
	br
	br
	br
	a.btn.btn-primary.btn-block(href='#!') Logout
	br
	br
	
	

