block variables
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title HQweb - #{title}

		block style
			link(rel='stylesheet' href='../../css/bootstrap4-wizardry.min.css' type='text/css')
			link(rel='stylesheet' href='../../css/fonts.css' type='text/css')
			link(rel='stylesheet' href='../../css/navbar.css' type='text/css')


	body
		div(class='wrapper')
			block navbar
				header
					.toggle
						i.fas.fa-bars
					h3 HQweb
				div(class='sidebar')
					nav(id='navbar')
						ul
							li
								a.toggle
									span.icon
										i.fas.fa-bars
									span.title Menu
							li
								a(href='/')
									span.icon
										i.fas.fa-home
									span.title Home
							li
								a(href='/reviews')
									span.icon
										i.fas.fa-edit
									span.title Review
							li
								a(href='/auth/login')
									span.icon
										i.fas.fa-user
									span.title Login
							li
								a(href='/shopping')
									span.icon
										i.fas.fa-cart-arrow-down
									span.title Shop list
							li
								a(onclick="alert('Not yet available')")
									span.icon
										i.fas.fa-check-square
									span.title Houseworks
							li
								a(href='/booking')
									span.icon
										i.fas.fa-calendar
									span.title Book
							li
								a(href='/profile')
									span.icon
										i.fas.fa-user
									span.title Profile
							li
								a(href='/auth/api/logout')
									span.icon
										i.fas.fa-sign-out-alt
									span.title Sign Out

				div(class='container')
					block content
						.jumbotron
							h1.display-3 #{title}


		footer 
			block foot
			block scripts
				script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js')
				script(src="../../js/navbar.js") 
