extends /layouts/standardNavbar.pug
block variables
	- var title = 'HQweb'
block append content 
	.alert.alert-primary(role='alert' style='min-height: 380px;')
		img(src='/images/finale.png' style='float: left; max-width:100%' alt='Image')
		.x(style='text-align: center; line-height: 20px;')
			h4.alert-heading News!
			br
			| -	ADDED: now you can add a booking. It's simple and fast.	
			a.alert-link(href='/booking/addBooking') Show me now.
			br
			br
			| -	RESOLVED: now you can see the star rating in reviews.	
			a.alert-link(href='/reviews') Show me now.
	

	.jumbotron
		| Quick add shopping: 
		form(action="shopping/api/addItem", method="post") 
			.input-group.mb-3
				input.form-control(type='text' name='item_name' placeholder="Add any item" aria-describedby='basic-addon2')
				.input-group-append
					button.btn.btn-primary.btn-block(type='submit') Add 
					