extends /layouts/standardNavbar.pug
block variables
	- var title = 'HQweb'
block append style 
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
block append content 
	.alert.alert-primary(role='alert' style='min-height: 380px;')
		img(src='/images/finale.png' style='float: left; max-width:100%' alt='Image')
		.x(style='text-align: center; line-height: 20px;')
			h4.alert-heading News!
			br
			| -	ADDED: now you can add a booking. It's simple and fast.	
			a.alert-link(href='/booking/addBooking') Show me now.
			br
			br
			| -	RESOLVED: now you can see the star rating in reviews.	
			a.alert-link(href='/reviews') Show me now.
	

	.jumbotron
		//- img(src='/images/schermata.png' alt='Image' class='img-fluid')
		//- br
		//- | Aggiungere Calendario qui 
		//- br
		//- br
		//- br
		//- | Your housework of the week is:
		//- input#example-text-input.form-control(type='text' value='HOUSEWORK' readonly)
		//- br
		//- br
		//- br
		if session

			label Quick add shopping: 
			form#addItem(method="post") 
				.input-group.mb-3
					input.form-control#item_name(type='text' name='item_name' placeholder="Add any item" aria-describedby='basic-addon2')
					.input-group-append
						button.btn.btn-primary.btn-block(type='submit') Add

			#result

	script.

		$(document).ready(function(){
			$("form#addItem").submit(function(event) {
				event.preventDefault();
				var item_name = $("#item_name").val();
				$.ajax({
					type: "POST",
					url: "/shopping/api/addItem",
					data: "item_name=" + item_name,
					success: function(response) {
						$('#result').append('<div class="alert alert-success alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">    <span aria-hidden="true">×</span>  </button> Item '+response.name+' aggiunto correttamente </div>');
					}
				});
			});
		});

block append scripts
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>