<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>HQ Login</title>
</head>
<body>
    <header>
		<h1>Login</h1>
	</header>

	<form action="/houseworks" method="get">
		<!--
			bordo attorno
			<fieldset>
		-->				
			<label>Username</label>
			<input type ="username" id = 'username' name="username" required>
			<br><br>

			<label>Password</label>
			<input type="password" id = "password" name="password" required>
			<br><br>
			<button type ="submit">Submit</button>
		<!--
			</fieldset>
		-->	
        </form>

</body>
</html>