doctype html
head
	meta(charset='UTF-8')
	title HQ Login
	include includes/head.pug
header
	h1 Login
form(action='/houseworks' method='get')
	fieldset
		label Username
		input#username(type='username' name='username' required='')
		br
		br
		label Password
		input#password(type='password' name='password' required='')
		br
		br
		button(type='submit') Submit