extends /layouts/standardNavbar.pug
block variables
	- var title = 'HQweb'
block append content 
	.jumbotron
		br
		| Aggiungere Calendario qui 
		br
		br
		br
		| Your housework of the week is:
		input#example-text-input.form-control(type='text' value='HOUSEWORK' readonly)
		br
		br
		br
		| Quick add shopping: 
		.input-group.mb-3
			input.form-control(type='text' placeholder="Bread..." aria-label="Recipient's username" aria-describedby='basic-addon2')
			.input-group-append
			a.btn.btn-primary(href='#') Add