extends /layouts/loginLayout.pug
block variables
	- var title = 'Login'
block append content 
	-if(messages.error)
		.alert.alert-danger(role='alert')
			strong #{messages.error}
			|  Wrong Username or password.

	.jumbotron
		form(action='/api/login' method='post')
			.form-group
				label Username
				input#username.form-control(type='username' placeholder='Enter username')
				input#password.form-control(type='password' placeholder='Enter password')
				button.btn.btn-primary(type='submit') Submit
