extends /layouts/standardNavbar.pug
block variables
	- var title = 'Login'
block append content 
	-if(messages.error)
		.alert.alert-danger(role='alert')
			strong #{messages.error}

	.jumbotron
		form(action='/api/login' method='post')
			.form-group
				label Username
				input.form-control(type='username' name='username' placeholder='Enter username' required)
				label Password
				input.form-control(type='password' name='password' placeholder='Enter password' required)
				button.btn.btn-primary(type='submit') Submit
