doctype html
head
link(rel='stylesheet' href='css/navbar.css' type='text/css')
//ink(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css')

header
	.toggle
		i.fas.fa-bars
	h3 HQweb
	a(href='#')
		i.fas.fa-sign-out-alt
nav#navbar
	ul
		li
			a.toggle
				span.icon
					i.fas.fa-bars
				span.title Menu
		li
			a(href='#')
				span.icon
					i.fas.fa-home
				span.title Home
		li
			a(href='#')
				span.icon
					i.fas.fa-user
				span.title Profile
		li
			a(href='#')
				span.icon
					i.fas.fa-envelope
				span.title Messages
		li
			a(href='#')
				span.icon
					i.fas.fa-info
				span.title Help
		li
			a(href='#')
				span.icon
					i.fas.fa-cog
				span.title Setting
		li
			a(href='#')
				span.icon
					i.fas.fa-lock
				span.title Password
		li
			a(href='#')
				span.icon
					i.fas.fa-sign-out-alt
				span.title Sign Out

footer 
	script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js')
	script(src="js/navbar.js") 