extends /layouts/standardNavbar.pug
block variables
	- var title = 'Registration'
block append content 
	-if(messages.success)
		.alert.alert-success(role='alert')
			strong #{messages.success}
	-else if(messages.error)
		.alert.alert-danger(role='alert')
			strong #{messages.error}

	.jumbotron
		form(action='/auth/api/register' method='post')
			.form-group
				label Username
				input.form-control(type='username' name='username' placeholder='Enter username' required)
				label Password
				input.form-control(type='password' name='password' placeholder='Enter password' required)
				label Color 
				br
				.btn-group.d-flex(data-toggle='buttons')
					each color in colors
						- var color_name = 'btn-'+color.name
						- var color_value = color._id
						label.btn(class=color_name)
							input.radio(type='radio' name='_color' value=color_value)

				button.btn.btn-primary(type='submit') Submit
