extends /layouts/standardNavbar.pug
block variables
	- var title = 'Add Review'

block prepend style 
	link(rel='stylesheet' href='../../css/stars.css' type='text/css')
block append content
	-if(messages.success)
		.alert.alert-success(role='alert')
			strong #{messages.success}
	-else if(messages.error)
		.alert.alert-danger(role='alert')
			strong #{messages.error}

	each user in users
		.jumbotron 
			form(action="/reviews/addReview", method="post")
				.form-group 
					| Host
					select#username.form-control(type='username' name='user')
						option(selected) Choose your host
						option #{user.username}

					| Review
					textarea#content.form-control(type='text' name='content' placeholder='Insert here your review')
					| Rating
					 	
					input#star-5.star.star-5(type='radio' name='rate' value=1)
					label.star.star-5(for='star-5')
					input#star-4.star.star-4(type='radio' name='rate' value=2)
					label.star.star-4(for='star-4')
					input#star-3.star.star-3(type='radio' name='rate' value=3)
					label.star.star-3(for='star-3')
					input#star-2.star.star-2(type='radio' name='rate' value=4)
					label.star.star-2(for='star-2')
					input#star-1.star.star-1(type='radio' name='rate' value=5)
					label.star.star-1(for='star-1')
					br
					br
					input#date.form-control(type='hidden' name='posted_at' value=Date())
					br
					button.btn.btn-primary.btn-block(type='submit') Add Review

			
			script.
				Date.prototype.toDateInputValue = (function() {
					var local = new Date(this);
					local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
					return local.toJSON().slice(0,10);
				});

				document.getElementById('hidden').valueAsDate = new Date();