extends /layouts/standardNavbar.pug
block variables
	- var title = 'Add Review'

block prepend style 
	link(rel='stylesheet' href='../../css/stars.css' type='text/css')

block append content
	-if(messages.success)
		.alert.alert-success(role='alert')
			strong #{messages.success}
	-else if(messages.error)
		.alert.alert-danger(role='alert')
			strong #{messages.error}

	.jumbotron 
		form(action="/reviews/addReview" method="post")
			.form-group 
				| Reviewer
				input#reviewer.form-control(type='username' name='user' )
				| Host
				select#username.form-control(type='username' name='host')
					each user in users
						- var user_id = user._id
						option( value = user_id ) #{user.username}

				| Review
				textarea#content.form-control(type='text' name='content' placeholder='Insert here your review')
				| Rating
				input#rate.form-control(type='number' name='rate' min='1' max='5')
				br
				br
				input#date.form-control(type='hidden' name='posted_at' value=Date())
				br
				button.btn.btn-primary.btn-block(type='submit') Add Review


		script.
			Date.prototype.toDateInputValue = (function() {
				var local = new Date(this);
				local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
				return local.toJSON().slice(0,10);
			});

			document.getElementById('hidden').valueAsDate = new Date();