extends /layouts/standardNavbar.pug
block variables
	- var title = 'Reviews'
block append style 
	link(rel='stylesheet' href='../../css/stars.css' type='text/css')
block append content
	.jumbotron
		each review in reviews
			.card.text-center
				.card-header
					| #{review.user}
				.card-body 
					- var n = 0;
					while n < review.rate
						i.fas.fa-star
						- n++
					while n < 5
						i.far.fa-star
						- n++
					p.card-text #{review.content}
					span.badge.badge-pill.badge-danger Hosted by #{review.host.username}
				.card-footer.text-muted
					| #{review.posted_at}
			br
			br
	