//in caso un guest scriva puttanate - comunque da rivedere se eliminarla proprio
//e permettere in caso una semplice rimozione della review
extends /layouts/standardNavbar.pug
block variables
	- var title = 'Modify Review'
block append content
	| Aggiungere