extends /layouts/standardNavbar.pug
block variables
	- var title = 'Houseworks'
block append content 
	.jumbotron
		table.table.table-hover.table-striped
			thead.thead-dark
				tr
				th User
				th Housework
			tbody
				tr
				td {tave}
				td {Housework 3}
				tr
				th {user}
				td {Housework 2}
				tr.table-primary
				td {user}
				td {Housework 1}

