doctype html
head
  meta(charset='UTF-8')
  title HQ Houseworks
  include ../includes/head.pug
h1.display-2 Houseworks
nav.mnb.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        span.sr-only Toggle navigation
        i.ic.fa.fa-bars
      div(style='padding: 15px 0;')
        a#msbo(href='#')
          i.ic.fa.fa-bars
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') En
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Draude Oba 
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Settings
            li
              a(href='#') Upgrade
            li
              a(href='#') Help
            li.divider(role='separator')
            li
              a(href='#') Logout
        li
          a(href='#')
            i.fa.fa-bell-o
        li
          a(href='#')
            i.fa.fa-comment-o
      form.navbar-form.navbar-right
        input.form-control(type='text' placeholder='Search...')
// msb: main sidebar
#msb.msb
  nav.navbar.navbar-default(role='navigation')
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      .brand-wrapper
        // Brand
        .brand-name-wrapper
          a.navbar-brand(href='#')
            | SAITAMA
    // Main Menu
    .side-menu-container
      ul.nav.navbar-nav
        li
          a(href='#')
            i.fa.fa-dashboard
            |  Dashboard
        li.active
          a(href='#')
            i.fa.fa-puzzle-piece
            |  Components
        li
          a(href='#')
            i.fa.fa-heart
            |  Extras
        // Dropdown
        li#dropdown.panel.panel-default
          a(data-toggle='collapse' href='#dropdown-lvl1')
            i.fa.fa-diamond
            |  Apps
            span.caret
          // Dropdown level 1
          #dropdown-lvl1.panel-collapse.collapse
            .panel-body
              ul.nav.navbar-nav
                li
                  a(href='#') Mail
                li
                  a(href='#') Calendar
                li
                  a(href='#') Ecommerce
                li
                  a(href='#') User
                li
                  a(href='#') Social
                // Dropdown level 2
                li#dropdown.panel.panel-default
                  a(data-toggle='collapse' href='#dropdown-lvl2')
                    i.glyphicon.glyphicon-off
                    |  Sub Level 
                    span.caret
                  #dropdown-lvl2.panel-collapse.collapse
                    .panel-body
                      ul.nav.navbar-nav
                        li
                          a(href='#') Link
                        li
                          a(href='#') Link
                        li
                          a(href='#') Link
        li
          a(href='#')
            span.glyphicon.glyphicon-signal
            |  Link
    // /.navbar-collapse
// main content wrapper
.mcw
  // navigation here
  // main content view
  .cv
    div
      .inbox
        .inbox-sb
        .inbox-bx.container-fluid
          .row
            .col-md-2
              ul
                li
                  a(href='#') Inbox
                li
                  a(href='#') Sent
                li
                  a(href='#') Trash
            .col-md-10
              table.table.table-stripped
                tbody
                  tr
                    td
                      input(type='checkbox')
                    td
                      i.fa.fa-star
                    td
                      b Mozilla
                    td
                      b In celebration of women and girls everywhere
                    td
                    td Mar 10
                  tr
                    td
                      input(type='checkbox')
                    td
                      i.fa.fa-star-o
                    td Dan Glenn
                    td
                      | [ptcuser-announcements] - PTC/USER Expert Speaker Series Webinar March 9, 2017 11AM (EST)
                    td
                      i.fa.fa-paperclip
                    td Mar 10
                  tr
                    td
                      input(type='checkbox')
                    td
                      i.fa.fa-star-o
                    td Jetpack
                    td Announcing some highly requested improvements and our new affiliate program
                    td
                    td Mar 08
                  tr
                    td
                      input(type='checkbox')
                    td
                      i.fa.fa-star-o
                    td Jetpack
                    td Announcing some highly requested improvements and our new affiliate program
                    td
                    td Mar 08
                  tr
                    td
                      input(type='checkbox')
                    td
                      i.fa.fa-star-o
                    td Jetpack
                    td Announcing some highly requested improvements and our new affiliate program
                    td
                    td Mar 08
                  tr
                    td
                      input(type='checkbox')
                    td
                      i.fa.fa-star-o
                    td Jetpack
                    td Announcing some highly requested improvements and our new affiliate program
                    td
                    td Mar 08
                  tr
                    td
                      input(type='checkbox')
                    td
                      i.fa.fa-star-o
                    td Jetpack
                    td Announcing some highly requested improvements and our new affiliate program
                    td
                    td Mar 08
                  tr
                    td
                      input(type='checkbox')
                    td
                      i.fa.fa-star-o
                    td Jetpack
                    td Announcing some highly requested improvements and our new affiliate program
                    td
                    td Mar 08
