extends /layouts/standardNavbar.pug
block variables
	- var title = 'Add Booking'
block append content
	-if(messages.success)
		.alert.alert-success(role='alert')
			strong #{messages.success}
	-else if(messages.error)
		.alert.alert-danger(role='alert')
			strong #{messages.error}

	.jumbotron 
		form(action="api/calendar/addBooking", method="post")
			.form-group 
				| Check In
				input#date_start.form-control(type='date' name='date_start' )
				| Check Out
				input#date_end.form-control(type='date' name='date_end' )
				| Guests
				input#guests_number.form-control(type='number' value='1' min='1' max='10' name='guests_number')
				br
				button.btn.btn-primary.btn-block(type='submit') Check Availability

		
		script.
			Date.prototype.toDateInputValue = (function() {
				var local = new Date(this);
				local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
				return local.toJSON().slice(0,10);
			});

			document.getElementById('date_start').valueAsDate = new Date();
