extends /layouts/standardNavbar.pug
block variables
	- var title = 'Booking'
block append content
	a.btn.btn-primary.btn-block(href='booking/addBooking') Add a booking
	br
	a.btn.btn-primary.btn-block(onclick="alert('Not yet available')") Change your booking
	br
	each calendar_event in calendar_events
		.card.text-center
			.card-header
				p #{moment(calendar_event.date_start).format('DD/MM/YYYY')} - #{moment(calendar_event.date_end).format('DD/MM/YYYY')}
			.card-body
				p.card-text #{calendar_event.author.username} booked for #{calendar_event.guests_number}
		br