extends /layouts/standardNavbar.pug
block variables
	- var title = 'Booking'
block append content
	| aggiungere qui il calendario 
	br
	br
	br
	a.btn.btn-primary.btn-block(href='addBooking') Add a booking
	br
	br
	a.btn.btn-primary.btn-block(href='#') Change your booking