doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		include ../includes/head.pug
	body 
		title HQ Shopping List
		
		h1.display-2 Shopping List
		ul.list-group
			li.list-group-item.list-group-item-primary Pane a fette
			li.list-group-item.list-group-item-success Vino Rèmole
			li.list-group-item.list-group-item-danger Insalta iceberg
			li.list-group-item.list-group-item-success Salsa di pomodoro
			li.list-group-item.list-group-item-success Burro
		br
		br
		br
		span.badge.badge-primary Tave 
		span.badge.badge-success Bru
		span.badge.badge-danger Zini