extends /layouts/standardNavbar.pug
block variables
	- var title = 'Show List'
block append content
	span.badge.badge-primary Tave 
	span.badge.badge-success Bru
	span.badge.badge-danger Zini
	br
	br
	ul.list-group
		li.list-group-item.list-group-item-success Pane a fette
		li.list-group-item.list-group-item-primary Vino Rèmole
		li.list-group-item.list-group-item-primary Insalta iceberg
		li.list-group-item.list-group-item-danger Salsa di pomodoro
		li.list-group-item.list-group-item-danger Burro